<div class='container'>
    <div class="row top">
        <div class="col-xs-2">
            <a href="#" routerLink="/brawler/create/">
                <p class="text-capitalize"><strong>Create new brawler</strong></p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Brawler Name</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let list of brawlersList; trackBy:identify">
                        <th scope="row">{{ list.id }}</th>
                        <td>
                            <a href="#" [routerLink]="['/brawler/details/', list.id]">
                                {{ list.name }}
                            </a>
                        </td>
                        <td class="col-xs-1"><button class="btn btn-danger" title="delete brawler" (click)="deleteBrawler(list)">X</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>