<div class="container">
    <form [formGroup]="brawlerFrm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required formControlName="name">
            <!-- If you have time you can add validation for this property -->
            <div class="alert alert-danger" *ngIf="!brawlerFrm.get('name').valid && brawlerFrm.get('name').touched">
                Name is required
            </div>
        </div>

        <div class="form-group">
            <label for="health">Health</label>
            <input type="number" class="form-control" id="health" formControlName="health">
        </div>

        <div class="form-group">
            <label for="power">Power</label>
            <input type="number" class="form-control" id="power" formControlName="power">
        </div>

        <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control" id="type" formControlName="type">
                <!-- There is a pipe that iterates over an enumartion. It returns array of key/value -->
                <option type="number" *ngFor="let brawlerType of brawlerTypes | enumList" [value]="brawlerType.key">
                    {{brawlerType.value}}
                </option>
            </select>

            <!-- If you have time you can add validation for this property -->
            <!-- <div class="alert alert-danger">
                Type is required
            </div> -->
        </div>

        <button type="button" class="btn btn-primary" (click)='onCancel()'>Cancel</button>
        <!-- If you have time you can add validation for the form model -->
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>